<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>It seems something went wrong.. We are awfully sorry: {{ status_text }}</title>
</head>
<body>
<h1>Oops! An Error Occurred... Even Santa can't help you.. :((((</h1>

<h2>Santa's helper says: "{{ status_code }} {{ status_text }}".</h2>

<div>
    <img src="{{ asset('images/404.jpg') }}">
</div>
</body>
</html>