{% extends ":Default:layout.html.twig" %}

{% block body %}

    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">Write your own letter to Santa!</a>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>

    <div class="container">
        <div class="'row">
            <div class="col-md-12">

                <h1> Your points: {{ points }} </h1>


            </div>
        </div>
    </div>

{% endblock %}